*{
    margin: 0;
    padding: 0;
}

.water{
    width: 100%;
    height: 700px;
}

#start{
    background: green;
    padding: 10px 10px 10px 10px;
}

#stop{
    background: red;
    padding: 10px 10px 10px 10px;
}

#start:hover{
    background: cyan;
}

#stop:hover{
    background: black;
    color: white;
}

#stone0{
    position: absolute;
    transition: 2s;
    top: 600px;
    left: 500px;
    width: 150px;
}

#stone1{
    position: absolute;
    transition: 2s;
    top: 500px;
    left: 1200px;
    width: 150px;
}

#stone2{
    position: absolute;
    transition: 2s;
    top: 400px;
    left: 750px;
    width: 150px;
}

#stone3{
    position: absolute;
    transition: 2s;
    top: 300px;
    left: 500px;
    width: 150px;
}

#stone4{
    position: absolute;
    transition: 2s;
    top: 200px;
    left: 850px;
    width: 150px;
}